@{
    ViewData["Title"] = "Лабораторна робота ІСтаТП 2022. Кав'ярня";
}

@if(User.Identity.IsAuthenticated)
{
    <h3>Ласкаво просимо до кав'ярні!</h3>
    <p>@User.Identity.Name</p><br>
    <img src="~/css/coffee.jpg" alt="кава"> <br />
    
    <form method="post" asp-controller="Account" asp-action="Logout">
        <br /><input type="submit" value="Вихід" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
}
