@{
    ViewData["Title"] = "Лабораторна робота ІСтаТП 2022. Кав'ярня";
}

@if(User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <a asp-controller="Users" asp-action="Index">Список користувачів</a>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Вихід" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
    <a asp-controller="Account" asp-action="Register">Реєстрація</a>
}
