@{
    ViewData["Title"] = "Privacy Policy";
}
<h4>Лабораторна робота з ІСтаТП</h4>
<p>Предметна область: "Кав'ярня"<br>
   Автор: студентка групи К-25 Дулько Діана
</p><br />
<img src="~/css/coffee_beans.jpg" alt="кава" />
    



